header#app-header {
    background-color: #f8f9fa !important;
    height: 60px;
    @include media-breakpoint-down(md) {
        height: 45px;
    }
    
    nav {
        > a.icon-logo {
            width: 130px;
            height: 85px;
            display: block;
            background-repeat: no-repeat;
            margin-top:0;
            background-color: #fff200;
            background-size: 97px;
            background-position: center;
            margin-right: 1.5rem;

            @include media-breakpoint-down(md) {
                width: 92px;
                height: 60px;
                background-size: 70px;
            }
        }

        > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            height: 60px;
            @include media-breakpoint-down(md) {
                height: 45px;
            }

            > li {
                margin-right: 1.5rem;

                @include media-breakpoint-down(md) {
                    &:nth-child(n+4) {
                        display: none;
                    }
                }

                > a {
                    font-size: .75rem;
                    font-weight: bold;
                    color: #4c4e4d;
                
                    > i {
                        font-size: .875rem;
                    }
                }
            }
        }
    }
}

