.container-header {
    position: relative !important;
}

header {
    font-family: 'Roboto', sans-serif;
}

header#app-header {
    a.icon-logo {
        width: 130px;
        height: 85px;
        display: block;
        background-repeat: no-repeat;
        margin-top: -10px;
        //position: absolute;
        top: 0;
        left: 0;
        background-color: #fff200;
        background-size: 97px;
        background-position: center;
    }
}

nav {
    .nav-link {
        font-size: 12px;
        font-weight: bold;
        padding: 15px 12px !important;
        color: #4c4e4d !important;
    }

    .fa {
        margin-right: 20px;
        color:#4c4e4d !important;
        font-size: 17px !important;
        padding: 5px 0;
    }

    .fa-search {
        margin-left: 25px !important;
    }
}

header .header-menu {
    display: flex; //flex de hersey yan yana dizilir
    justify-content: space-around; // elemanları dizmek için boşluklu
    align-items: center; //dikeyde hizalama
}

.header-menu .header-menu-link, .header-menu .header-menu-social  {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
}
.header-menu .header-menu-link .disable-item-2 {
    display: none;
}
@media (max-width: 576px) {
    .header-menu .header-menu-link .disable-item-2 {
        display: block;
    }
    .header-menu .header-menu-link .disable-item{
        display: none;
    }

    .header-menu .header-menu-social  {
        display: none;
    }
    header .header-menu {
        flex-direction: column;
    }
    header#app-header {
        a.icon-logo {
            width: 100vw;
            height: 85px;
        }
    }
    .header-menu .header-menu-link  {
        margin-top: 5px;
        justify-content: space-between;
        width: 100vw;
    }
}
