.page-header {
    > h3 {
        font-size: 1.5rem;
        font-weight: 700;
        font-style: italic;
        color: #4c4e4d;
        margin: 0;
    }

    >hr {
        border: 1px solid #fff200;
        margin-top: 0;
    }

}