.posts {
    a {
        text-decoration: none;
        color: #0a0a0a;

        &:hover {
            color: #bb2323;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 700;

            @include media-breakpoint-down(md) {
                font-size: 0.9rem;
                margin-left: -15px;
            }
        }
    }

    span {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .subinformation {
        span:first-child {
            color:  #bb2323;
        }

        @include media-breakpoint-down(md) {
            margin: -10px 0 0 -15px;
        }
    }
}




