.sideposts {
    > h3 {
        font-size: 21.6px;
        color: #bb2323;
        padding: 0 0 16px;
        margin: 0;
        text-align: center;
        letter-spacing: .1rem;
    }

    > div {
        margin-bottom: 1rem;
        > a {
            text-decoration: none;
            color: #6E6666;
    
            &:hover  {
                color: #bb2323;
            }
    
            > img {
                width: 100%;
                height: auto;
            }
    
        }
    }
}

.sideposts-hidden {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

hr {
    background-color: #fff200;
}
