.sideposts {
    > h3 {
        font-size: 21.6px;
        color: #bb2323;
        padding: 0 0 16px;
        margin: 0;
        text-align: center;
        letter-spacing: .1rem;
    }

    > div {
        margin-bottom: 1rem;

        > a {
            text-decoration: none;
            color: #6E6666;

            > span {
                &:first-child {
                    position: absolute;
                    left: 5px;
                    top: 30px;
                    background: #4f7177;
                    border-radius: 50%;
                    color: white;
                    padding: 3px 10px;
                    font-weight: 700;
                }
            }
    
            &:hover  {
                color: #bb2323;
            }
    
            > img {
                width: 100%;
                height: auto;
            }
    
        }
    }
}

.sideposts-hidden {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

hr {
    background-color: #fff200;
}
