
.page-logo {
    background-color: #a92425 !important;
}

.navbar {

    box-shadow: 0 1px 10px 0 rgba(50,50,50,.2) !important;
    background: #fff !important;
}



.vertical-middle {
    vertical-align: middle !important;
}

.username {
    color: #7f96ac;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.fa-trash-o {
    color: tomato;
}

.fa-pencil-square {
    color: steelblue;
}

.alert-light {
    background-color: #ffcccc !important;
}

.alert-primary {
    background-color: #DFEFF9 !important;
}

a {
    text-decoration: none !important;
    color: black;
}

.required {
    color: #e02222 !important;
}

.form-group {
    border-bottom: 1px solid #f4f5f8 !important;
}

.form-control {
    margin: 10px 0 15px 0 !important;
}

.control-label {
    float: right;
    padding-top: 15px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
}

.iradio {
    width: 20px;
    height: 20px;
    margin: 15px 0 0 10px !important;
}

.badge{
    background: #95a5a6 !important;
}

.badge-roundless {
    border-radius: 0 !important;
}

.badge-success {
    color: #fff;
    background-color: #36c6d3;
}


.badge-danger {
    color: #fff;
    background-color:  #ed6b75;
}


.badge-warning {
    background-color: #f2784b!important;
}


.sidebar-menu-margin {
    margin-bottom: 5px !important;
}

#ms-my-select {
    width: 700px !important;
}
